### database ###
/database/config.py
/database/config.pyc
/database/__pycache__/*
/database/test.csv
/database/.DS_Store


### env ###
/env/Z1.project.env


### client ###
# dependencies
/client/node_modules
/client/.pnp
/client/.pnp.js

# testing
/client/coverage

# production
/client/build

# misc
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

### server ###
/server/node_modules
/server/yarn-error.log*
/server/yarn-debug.log*
/server/npm-debug.log*
/server/dbconfig.js

### etc ###
.DS_Store
database/processedData/*

#amplify
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/mock-data
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation
build/
dist/
node_modules/
aws-exports.js
client/src/aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplify-build-config.json
amplify-gradle-config.json
amplifyxc.config
amplify/*