html, body, #gmap {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

#navWrapper {
	position: absolute;
	top: 0;
	width: 100%;
}

.selectSection {
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #e3e3e3;
}

.displaySection {
	display: flex;
	box-shadow: 5px 5px 8px #888;
}

.restaurantContainer {
	height: 80vh;
	width: 40vw;
	position: relative;
	overflow-y: auto;
}

.restaurant {
	height: 150px;
	display: flex;
	position: relative;
	box-shadow: 1px 1px 8px #888;
	text-align: left;
	margin: 5px;
}

/*.restaurant::after {
	content: "";
	display: block;
	width: 100%;
	background: #aaa;
	height: 1px;
	position: absolute;
	bottom: 0;
}*/

.restaurant:hover {
	background: #e8e8e8;
	transition: background 0.3s;
}

.restaurant > .thumb {
	width: 25%;
	height: 100%;
	background: #888;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}

.restaurant > .content {
	width: 75%;
	padding-left: 10px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.content > p {
	margin-bottom: 0 !important;
}

.thumb > img {
	height: 50px;
	width: 50px;
}

.noResults {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #d3d3d3;
	font-weight: 800;
	font-size: 2em;
}

.selectItem {
	padding: 0, 1em,0, 1em;
	margin-right: 1em;
	width: 20vw;
}

#gmap {
	height: 80vh;
	width: 60vw;
	position: relative;
}

#loader {
	position: fixed;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.5);
	height: 100vh;
	width: 100vw;
	overflow: auto;
	left: 0;
	top: 0;
}

.spinner {
  border: 8px solid #828282;
  border-top: 8px solid #eee;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 1s linear infinite;
  margin: auto;
  margin-top:25%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
