.header-container .headers, .results-container .restaurant {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
}

.headers .header, .restaurant .restaurantName,
.restaurant .cuisineType, .restaurant .address,
.restaurant .open {
  flex: 1 0 25%;
}
.restaurant .address {
  font-size: 12px;
}



